<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.multiwindow.liugs.multiwindow1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MultiWindowSampleTheme">>
        <activity
            android:name=".MainActivity"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- This Activity cannot be resized and is always displayed full screen. -->
        <activity
            android:name=".activities.UnresizableActivity"
            android:resizeableActivity="false"
            android:taskAffinity="" />

        <!-- This Activity has a default size (750x500dp) with a minimum size
        (500dp at its shortest side). It is launched in the top/end (top/right) corner by default.
         These attributes are defined in the 'layout' tag within an Activity definition. -->
        <activity
            android:name=".activities.MinimumSizeActivity"
            android:launchMode="singleInstance"
            android:taskAffinity="">
            <layout
                android:defaultHeight="500dp"
                android:defaultWidth="750dp"
                android:gravity="top|end"
                android:minWidth="500dp"
                android:minHeight="500dp" />
        </activity>

        <!-- In split-screen mode, this Activity is launched adjacent to another Activity. This is
          controlled via a flag set in the intent that launches this Activity. -->
        <activity
            android:name=".activities.AdjacentActivity"
            android:taskAffinity="" />

        <!-- This Activity is launched within an area defined in its launch intent. -->
        <activity
            android:name=".activities.LaunchBoundsActivity"
            android:taskAffinity="" />

        <!-- This activity handles all configuration changes itself.
        Callbacks for configuration changes are received in 'onConfigurationChanged'. -->
        <activity
            android:name=".activities.CustomConfigurationChangeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleInstance"
            android:taskAffinity="" />

        <!-- This Activity is launched in a new task without any special flags or settings. -->
        <activity
            android:name=".activities.BasicActivity"
            android:launchMode="singleInstance"
            android:taskAffinity="" />
    </application>

</manifest>